Ng-Alain-Admin_DotNet/.vs/config/applicationhost.config
Ng-Alain-Admin_DotNet/.vs/Ng-Alain.Admin/v15/Server/sqlite3/storage.ide-wal
Ng-Alain-Admin_DotNet/.vs/Ng-Alain.Admin/v15/Server/sqlite3/storage.ide-shm
Ng-Alain-Admin_DotNet/.vs/Ng-Alain.Admin/v15/Server/sqlite3/storage.ide
Ng-Alain-Admin_DotNet/.vs/Ng-Alain.Admin/v15/Server/sqlite3/db.lock
Ng-Alain-Admin_DotNet/.vs/Ng-Alain.Admin/v15/.suo
